// css loading
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  @include transition(0.3s);
  span {
    height: 2px;
    width: 50px;
    background: #000;
    align-self: center;
    animation: rotate 1.5s infinite;
    @keyframes rotate {
      0% {
        transform: rotate(0);
        background: #000;
      }
      100% {
        transform: rotate(180deg);
        background: #fff;
      }
    }
  }
  &.active {
    opacity: 1;
    @include transition(0.3s);
  }
}
